@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --dark-grey: #333333;
  --grey: #616161;
  --brand: rgb(26, 187, 154);
  --brand-dark: rgb(14, 102, 84);
  --brand-darker: rgb(12, 84, 69);
}

html {
  font-size: 16px;
  font-family: Anuphan;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  color: var(--dark-grey);
  font-weight: 600;
  margin: 0;
}

h1 {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}

h2 {
  font-size: 32px;
  font-style: normal;
  line-height: 40px; /* 125% */
  letter-spacing: 0.32px;
}

p {
  color: var(--grey);
  font-size: 16px;
  font-style: normal;
  /* font-weight: 400; */
  font-weight: 300;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.16px;
  margin: 0;
}

.btn {
  cursor: pointer;
  text-decoration: none;
  appearance: none;
  border: none;
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  min-width: 64px;
  border-radius: 8px;

  &:has(.btn-icon) {
    padding-right: 8px;
  }
  
  &.btn-primary {
    color: white;
    background: var(--brand);

    &.btn-light {
      background:  white;
      color: var(--brand-darker);
    }
  }

  &.btn-text {
    background: transparent;
    color: var(--grey);
  }

  &:has(.material-icons) {
    padding-right: 8px;
  }

  & span:first-child {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  }
}

.navbar {
  padding: 16px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
background: white;

  & .navbar-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.resiq-landing-section {
  padding-inline: 24px;
  padding-top: 80px;
  padding-bottom: 40px;

  & .content {
    max-width: 1200px;
    margin-inline: auto;
  }
  
  &.hero {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(26, 187, 154, 0.10) 0%, rgba(255, 255, 255, 0.00) 100%);

    & .bg-graph {
      position: absolute;
      width: 107vw;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    & .content {
      display: flex;
      flex-direction: column;
      align-items: center;
  
      & .hero-text {
        text-align: center;
  
        & h1 {
          margin-bottom: 20px;
        }
  
        & p {
          max-width: 720px;
          margin-inline: auto;
          margin-bottom: 40px;
        }
      }
  
      & .dashboard-img {
        border-radius: 1vw;
        width: 100%;
        margin-top: 60px;
        box-shadow: 0px 2px 8px 0px rgba(27, 61, 54, 0.14), 0px 4px 32px 0px rgba(27, 61, 54, 0.14);
      }
    }
  }

  &.clients {
    padding-block: 0; 

    & .client-images-carousel {
      overflow: hidden;

      & .client-images-reel {
        display: flex;
        gap: 32px;
        
        & img {
          height: 122px;
          width: 122px;
          filter: saturate(0%);
          transition: 0.2s;
          
          &:is(
            :nth-child(1),
            :nth-child(2),
            :nth-child(9),
            :nth-child(10),
            :nth-child(12),
            :nth-child(13),
            :nth-child(14)
          ) {
            opacity: 0.6;
          }

          &:is(
            :nth-child(4),
            :nth-child(5),
            :nth-child(6),
            :nth-child(7),
            :nth-child(11)
          ) {
            opacity: 0.4;
          }

          &:hover {
            filter: saturate(100%) !important;
            opacity: 1 !important;
          }
        }
      }
    }
  }

  &.features {
    padding-top: 40px;

    & .content {
      display: flex;
      flex-direction: column;
      gap: 80px;
      
      & .feature {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 60px;

        flex-direction: column;

        & .feature-text {
          display: flex;
          flex-direction: column;
          gap: 12px;

          & small {
            color: var(--brand-dark);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px; /* 133.333% */
            letter-spacing: 0.12px;
            text-transform: uppercase;
          }
        }

        & img {
          width: 100%;
          flex-grow: 1;
          border-radius: 24px;
          border-top: 2px solid #0E6654;
          border-right: 8px solid #0E6654;
          border-bottom: 8px solid #0E6654;
          border-left: 2px solid #0E6654;
        }

        &:nth-child(2) {
          & img {
            border-top: 2px solid #0E6654;
            border-right: 2px solid #0E6654;
            border-bottom: 8px solid #0E6654;
            border-left: 8px solid #0E6654;
          }
        }
      }
    }
  }

  &.experience {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(26, 187, 154, 0.10) 100%);
    padding-bottom: 80px;

    & .content {
      display: flex;
      /* gap: 60px; */
      gap: 40px;
      justify-content: center;

      flex-direction: column;

      & .card {
        display: flex;
        padding: 20px;
        gap: 20px;
        align-items: center;
        border-radius: 20px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(22, 106, 89, 0.07) 100%);

        & img {
          height: 80px;
          width: 80px;
        }

        & .card-text {          
          & h3 {
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  &.ai {
    background: linear-gradient(180deg, #0C5546 0%, #0E6654 100%);
    position: relative;
    overflow: hidden;

    & .line {
      position: absolute;

      width: calc(100vw + 1000px);
      right: 50%;
      transform: translateX(50%);

      &:first-of-type {
        transform: translateX(50%) rotate(27deg);
        mix-blend-mode: color-dodge;
        
        top: 60px;
      }
      
      &:last-of-type {
        transform: translateX(50%) rotate(15deg);
        top: 120px;
      }
    }

    & .content {
      height: auto;
      min-height: 540px;
      display: flex;
      gap: 60px;
      align-items: center;

      flex-direction: column-reverse;

      & .ai-text {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-grow: 1;
        flex-basis: 0;

        & h1 {
          color: white;
        }
  
        & p {
          color: white;
          opacity: 0.8;
        }
      }

      & .ai-logo-container {
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-basis: 0;

        & .ai-logo {
          z-index: 1;
          display: flex;
          width: 240px;
          height: 240px;
          padding: 46.154px;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: rgba(255, 255, 255, 0.80);
          box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.36), 0px 0px 24px 0px rgba(255, 255, 255, 0.25), 0px 0px 0px 4px rgba(255, 255, 255, 0.25) inset;
          backdrop-filter: blur(32px);
        }
      }
    }
  }

  &.partner {
    background: linear-gradient(180deg, rgba(130, 106, 34, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%);

    & .content {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;

      & .power-brands {
        display: flex;
        gap: 40px;
        
        flex-wrap: wrap;
        justify-content: center;

        & .power-brand {
          display: flex;
          gap: 10px;
          align-items: flex-end;

          & p {
            margin-bottom: 4px;
          }

          &:first-child p {
            margin-bottom: 2px;
          }
        }
      }

      & .partner-text {
        text-align: center;

        & h1 {
          color: #474744;
          margin-bottom: 20px;
        }
  
        & p {
          max-width: 720px;
          margin-inline: auto;
        }
      }

      & .gold-partner-img {
        width: 228px;
        height: 96px;
        border-radius: 48px;
        box-shadow: 0px 0px 4px 0px rgba(71, 71, 68, 0.25), 0px 0px 32px 0px rgba(71, 71, 68, 0.20);
      }

      & .power-ctas {
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
      }
    }
  }

  &.open-source {
    padding-bottom: 120px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(26, 187, 154, 0.10) 100%);

    & .content {
      display: flex;
      gap: 60px;
      align-items: center;

      flex-direction: column-reverse;

      & .open-source-text {
        flex-grow: 1;
        flex-basis: 0;

        & h2 {
          margin-bottom: 12px;
        }

        & span {
          text-decoration: underline;
          text-decoration-color: var(--brand);
        }

        & p:not(:last-of-type) {
          margin-bottom: 8px;
        }
      }

      & .open-source-img-container {
        flex-grow: 1;
        flex-basis: 0;
        display: flex;
        justify-content: center;
      }
    }
  }

  &.last-call {
    background: linear-gradient(180deg, #0C5546 0%, #0E6654 100%);
    position: relative;
    overflow: hidden;

    & .content {
      & .last-call-text {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 540px;
        padding-bottom: 80px;


        & h1 {
          color: white;
          margin-bottom: 20px;
        }

        & p {
          color: white;
          opacity: 0.8;
          max-width: 720px;
          margin-bottom: 40px;
        }
      }
    }

    & .line {
      position: absolute;
      width: calc(100vw + 1000px);
      right: 50%;
        transform: translateX(50%);

      &:first-of-type {
        mix-blend-mode: color-dodge;
        transform: translateX(50%) rotate(10deg);
        bottom: -30%;
      }
      
      &:last-of-type {
        transform: translateX(50%) rotate(-175deg);
        bottom: -3%;
      }
    }
  }
}

footer {
  padding: 40px;
  padding: 40px 24px;
  
  &.footer-dark {
    background: var(--brand-dark);
  }
  
  & .footer-content {
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 32px;
    flex-wrap: wrap;

    & .footer-links {
      display: flex;
      gap: 8px;

      & .footer-link {
        color: white;
        font-weight: 500;
        padding: 6px 12px;
        text-decoration: none;
        border-radius: 8px;

        &:hover {
          background: rgba(0, 0, 0, 0.07)
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .resiq-landing-section {
    & .clients {
      padding-top: 40px;
    }

    &.features {
      padding-top: 80px;

      & .content {
        gap: 120px;
      }
    }
  }
}

@media screen and (min-width: 991px) {
  .navbar {
    padding-inline: 40px;
  }

  .resiq-landing-section {
    padding: 80px 40px;

    &.clients {
      padding-bottom: 40px;
    }

    &.features {
      & .content {
        gap: 160px;

        & .feature {
          flex-direction: unset;

          & .feature-text {
            width: 360px;
          }

          & img {
            width: 0;
          }

          &:nth-child(2) {
            flex-direction: row-reverse;
          }
        }
      }
    }

    &.experience {
      & .content {
        flex-direction: unset;

        & .card {
          width: 320px;
          flex-direction: column;
          text-align: center;

          & img {
            height: 120px;
            width: 120px;
          }
        }
      }
    }

    &.ai {
      & .line {
        transform: unset;
        right: unset;
        
        &:first-of-type {
          /* transform: rotate(303deg); */
          transform: rotate(333deg);
          bottom: 60px;
          right: -50%;
          top: unset;
        }

        &:last-of-type {
          transform: rotate(130deg);
          right: -700px;
          top: 240px;
        }
      }

      & .content {
        height: 900px;
        flex-direction: unset;
      }
    }

    &.open-source {
      & .content {
        flex-direction: unset;
      }
    }
  }

  & footer {
    padding-inline: 40px;
  }
}